extends ../../../../views/layout

block content
  h1 #{title}
  a.btn(href='/admin/cinema/new') Novo

  table#MyGrid.table.table-bordered.datagrid
    thead
      tr
        th
          span.datagrid-header-title Geographic Data Sample